*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


/* first section(navBar section) */

.navBar{
    display:flex;
    font-size:2rem;
    background-color: #c2255c;
    color:whitesmoke;
    justify-content: space-between;
}
.start{
    display:flex;
    justify-content: flex-start;
    /* background-color: aliceblue; */
    /* height:3rem;
    width:3rem; */
}
.middle{
    display: flex;
    justify-content: center;
    /* background-color:aliceblue; */
}
.end{
    display: flex;
    /* justify-content:space-between; */
    /* background-color: aliceblue; */
    gap:3rem;
    /* justify-content: ; */

}

      /* first section // Icons */

      .navbarIcons{
        height:3rem;
        width: 3rem;
    }

/* second section(search and table section) */

.second{
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.searchbarContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.searchBar{
    display: flex;
    border:4px solid  #ced4da;
    justify-content: space-between;
    height:2rem;
    width:60rem;
    border-radius: 10rem;
    /* border: 2px solid #343a40; */
    background-color: #ced4da;
    color:#868e96;
}
.searchText{
    color:#212529;

}
.searchIcon{

}

.handyOptionsContainer{
    display: flex;
    justify-content: center;
    margin-top:2rem;
}
.handyOptions{
    display:grid;
    grid-template-columns: auto auto auto auto;
    background-color: whitesmoke;
    border:4px solid black;
    width:60rem;
    padding: 10px;
    color:#a61e4d;

}
.option{
    border:1px solid green;
    text-align: center;
    /* padding:20px; */
}


/* third section(carousel section) */

.third{
    margin-top:2rem;
    margin-bottom:2rem;
}

/* fourth section(gifts and text section) */
.fourth{
    display:flex;
    /* border:2px solid red; */
    justify-content: center;
    margin-bottom:2rem;
}
.text{
    display:flex;
    flex-direction:column;
    /* border: 2px solid yellow; */
    justify-content: space-around;
}
.inText{
    color:#868e96;
    font-size:1.4rem;
}

/* fifth section(circle images and text section) */

.fifth{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.circleImages{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.circleImage{
    /* --shape: 50% at 50% 50%;
    clip-path: circle(var(--shape)); */
    height:10rem;
    width:10rem;
    /* border:2px solid red; */
    /* box-shadow: 0 12px 24px rgb(0, 0, 0, 0.25); */
    
    
}


/* sixth section (trending gifts) */
.sixth{
    display:flex;
    flex-direction: column;
    /* border:1px solid black; */
    margin:2rem;
}
.upper{
    display: flex;
    flex-direction:column;
    padding:1rem;
}
.sixthPara{
    color:#868e96;
}

.lower{
    display:flex;
    justify-content:space-between;
    margin:1rem;
    border-bottom:0.1rem solid black;
}
.viewAll{
    color:#868e96;
}


/* seventh section (best selling)  */

.bestSelling{
    display:flex;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    gap:1rem;
    
    
}
.bestSellingImage{
    height:28rem;
    width:28rem;
    border-radius:1rem;
    border:2px solid black;
}
/* .bestSellingImage1{
    height:24rem;
}
.bestSellingImage3{
    height:22rem;
}
.bestSellingImage4{
    height:22rem;
} */


/* eight section (sliderImage)*/
.imageContainer{
    display: flex;
    justify-content: center;
}
.imagess1{
    height:20rem;
    width:20rem;
    border:2px solid red;
}
.sliderImage1{
height:100%;
width:100%;
object-fit:cover;
}
.imagess2{
    height:20rem;
    width:20rem;
    border:2px solid red;
}
.sliderImage2{
height:100%;
width:100%;
object-fit:cover;
}

/* nineth section (simple text) */

.nineth{
    margin:2rem;
}
.nineth-upper{
    padding-top:1rem;
    padding-bottom:1rem;
}
.nineth-lower{
    display:flex;
    justify-content: space-between;
}
.nineth-lower-left{
    display:flex;
    border-bottom:1px solid black;
    /* gap: 46rem; */
    width:56rem;
    justify-content:space-between;
}
.nineth-lower-right{
    display:flex;
    border-bottom:1px solid black;
    /* gap:46rem; */
    width:56rem;
    justify-content:space-between;
}
.nineth-para {color:#868e96; }
.nineth-view{ color:#868e96;}


/* tenth section (grids of photos) */

.gifts{display: flex;
justify-content: space-around;
/* border:2px solid red; */
}
.birthdayGifts{
display: flex;
justify-content: space-around;
/* border:2px solid green; */
}
.anniversaryGifts{
    display:flex;
    justify-content: space-around;
    /* border:2px solid blue; */
}

.gridImage{
    margin:1rem;
    border-radius: 1rem;
}
.gridImage1{
    height:180px;
    width:400px;
    border:2px solid black;   
}
.gridImage2{
    height:250px;
    width:400px;
    border:2px solid black;
}
.gridImage3{
    height:180px;
    width:400px;
    border:2px solid black;
}
.gridImage4{
    height:250px;
    width:400px;
    border:2px solid black;
}
.gridImage5{
    height:180px;
    width:400px;
    border:2px solid black;
}
.gridImage6{
    height:180px;
    width:400px;
    border:2px solid black;
}
.gridImage7{
    height:180px;
    width:400px;
    border:2px solid black;
}
.gridImage8{
    height:250px;
    width:400px;
    border:2px solid black;
}
.gridImage9{
    height:180px;
    width:400px;
    border:2px solid black;
}
.gridImage10{
    height:250px;
    width:400px;
    border:2px solid black;
}
.gridImage11{
    height:180px;
    width:400px;
    border:2px solid black;
}
.gridImage12{
    height:180px;
    width:400px;
    border:2px solid black;
}


/* tenth section(circle images and text section) */

.tenth{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.circleImages{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.circleImageContainer1{
    position: relative;
}
.text1{
    position: absolute;
    top:50%;
    transform:translate(0,-50%);
}


.circleImage{
    --shape: 50% at 50% 50%;
    clip-path: circle(var(--shape));
    height:10rem;
    width:10rem;
    /* border:2px solid red; */
    box-shadow: 0 12px 24px rgb(0, 0, 0, 0.25);
    
}


/* eleventh section (try out thing)*/
.eleventh{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:2rem;
}
.colorCircles{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.tryOutColor{
    height:10rem;
    width:10rem;
    /* border:2px solid red; */
    /* border-radius:50%; */
    clip-path: polygon(48% 100%, 36% 86%, 24% 70%, 16% 52%, 17% 39%, 21% 29%, 26% 20%, 29% 17%, 40% 17%, 45% 25%, 49% 31%, 54% 25%, 60% 17%, 69% 15%, 76% 23%, 81% 31%, 85% 43%, 86% 49%, 83% 60%, 73% 74%);
    /* border-radius: 50%; */
    
}
.tryText{
    position: absolute;
    top:50%;
    transform:translate(0,-50%);
    /* color:white; */
    stroke:red;
    /* fill:black; */
    height:5rem;width:5rem;
     /* --shape: 50% at 50% 50%;
    clip-path: circle(var(--shape));  */
    
    
}
.tryOutColor1{background-color:#a61e4d; }
.tryOutColor2{background-color:#862e9c; }
.tryOutColor3{background-color:#5f3dc4; }
.tryOutColor4{background-color:#0b7285; }
.tryOutColor5{background-color:#e67700; }
.tryOutColor6{background-color:#5c940d; }
.tryOutColor7{background-color:#c92a2a; }
.tryOutColor8{background-color:#087f5b; }
.tryOutColor9{background-color:#d9480f; }

.tryText1{ stroke:black;  fill:#a61e4d;}
.tryText2{ stroke:black;  fill:#862e9c;}
.tryText3{ stroke:black;  fill:#5f3dc4;}
.tryText4{ stroke:black;  fill:#0b7285;}
.tryText5{ stroke:black;  fill:#e67700;}
.tryText6{ stroke:black;  fill:#5c940d;}
.tryText7{ stroke:black;  fill:#c92a2a;}
.tryText8{ stroke:black;  fill:#087f5b;}

 /* .tryText1{ stroke:#a61e4d;}
.tryText2{ stroke:#862e9c;}
.tryText3{ stroke:#5f3dc4;}
.tryText4{ stroke:#0b7285;}
.tryText5{ stroke:#e67700;}
.tryText6{ stroke:#5c940d;}
.tryText7{ stroke:#c92a2a;}
.tryText8{ stroke:#087f5b;}  */
/* .icons1{
    height:10rem;
    width:10rem;
}
 .fa-brands{
    height:100%; //icon doesn't expand !
    width:100%;
} 
.iconSvg{
    height:10rem;
    width:10rem;
} */




/* THIS IS  SWIPER CSS */

      .parentContainer {
        position: relative;
        height: 50%;
      }

      .parentContainer {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        /* edited */
        width: 500px; 
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }















      
    
    
